BrokerGrpc.Receiver/Schemas/envelope.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:broker:envelope:v1"
           xmlns="urn:broker:envelope:v1"
           elementFormDefault="qualified">

  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Type" type="xs:string"/>
        <xs:element name="Subject" type="xs:string"/>
        <xs:element name="Payload" type="xs:string"/>
        <xs:element name="Timestamp" type="xs:dateTime"/>
        <xs:element name="Id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
